.page-header
  h1 利用規約

p= "#{@author}（以下、「サービス提供者」といいます）の提供する、algoTools（以下、「本サービス」といいます）を利用される方（以下、「ユーザー」といいます）は、本利用規約（以下、「本規約」といいます）に基づいて本サービスをご利用ください。本サービスをご利用になった場合（何らかの情報を入力したところから利用されたとみなします）、本規約の内容に同意したものとみなします。 本規約は、サービス提供者により予告無く変更されることがあります。ご利用に際しユーザーは最新の本規約をご確認ください。 本規約の他、サービス提供者から提供される情報（WEBページやブログ等でアナウンスされるものも含む）が本規約の一部として構成されます。合わせてご確認下さい。"

p= "なお、#{@release_date}現在、本サービスはベータサービスとしてご提供しております。正式なサービス開始時にサービス内容および本規約の見直しが発生する事をご了承いただきます。"

h2 第１条（定義）

p 本規約における用語の定義は以下のとおりとします。

p 「コンテンツ」とは、本サービスで表示、登録、利用される情報（画像、ファイル、プログラム等を含む）をいいます。

h2 第２条（ご利用目的）

p ユーザーは、ユーザーご自身が閲覧・ご利用する目的で本サービスを利用するものとします。

h2 第３条（ご利用料金）

p= "本サービスは#{@release_date}現在、基本的な料金に関しては無料でご提供しています。正式なサービス提供開始に伴って、料金に関しては変更される可能性があります。"

h2 第４条（本サービスの利用）

p= "#{@release_date}現在、本サービスの利用についてはログインID無しに行えますが、正式なサービス提供開始に伴って変更される可能性があります。"

h2 第５条（ユーザーの情報等の取り扱い）

p サービス提供者は、ユーザーの情報等を本サービスの提供・管理・運営のために利用します。

p なお、サービス提供者は、警察の要請や、法令に基づく場合、ユーザーの情報等を第三者に開示、公開することがあります。

// p その他の事項につきましては、プライバシーポリシーをご参照ください。

h2 第６条（取消・解除）

p ユーザーが以下の項目のいずれか1つにでも該当した場合、サービス提供者はユーザーに対してなんらの予告無くサービスの提供を停止することがあります。

ul
  li ユーザーが本規約の条項および条件に違反した場合
  li サービス提供者の業務遂行に支障を及ぼした場合､またはそのおそれのある行為を行なった場合
  li その他サービス提供者が不適切とみなす場合

h2 第７条（知的財産権等）

p ユーザーが発信したコンテンツ（以下「投稿情報」といいます）及び、連携する第三者サービス（例えば画像等の情報を保有するサービス）が発信したコンテンツを除き、本サービスの各コンテンツに関する、著作権、商標権、意匠権、特許権、その他の権利（以下「知的財産権等」といいます）は、サービス提供者に帰属します。また、ユーザーが本サービス上に発信・送信したコンテンツ等の知的財産権等は、コンテンツを発信・送信したユーザーもしくはその提供者に帰属します。

p ユーザーが各コンテンツの権利者の知的財産権等を侵害したり、ユーザーが発信、送信した内容が第三者の知的財産権等、肖像権、プライバシーに関する権利、その他の権利を侵害した場合には、ユーザーが直接責任を負うものとし、サービス提供者は一切責任を負いません。

h2 第８条（禁止事項）

p ユーザーは、本サービスを利用するにあたり、以下に該当する行為、またはその恐れがあるコンテンツの投稿をすることはできません。

ul
  li 公序良俗に反する行為
  li 犯罪的行為および、犯罪的行為を助長しまたはその実行を暗示する行為
  li サービス提供者、他のユーザー、または第三者の知的所有権等を侵害する行為
  li サービス提供者、他のユーザー、または第三者の財産・信用・名誉等を毀損する行為および、プライバシーに関する権利、肖像権その他の権利を侵害する行為
  li 法令、条約に反する行為
  li サービス提供者、他のユーザー、または第三者に不利益を与える行為
  li 本サービスおよびサービス提供者が提供する全てのサービスの運営を妨げる行為､またはそのおそれのある行為をしているとサービス提供者が判断した行為
  li 本サービスおよびサービス提供者が提供する全てのサービスの信用・名誉等を毀損する行為､またはそのおそれのある行為
  li 本規約の条項に違反する行為
  li その他、サービス提供者が不適当と判断する行為

h2 第９条（投稿情報の保存・削除）

p 投稿情報が次に掲げる事項に該当するおそれがあるとサービス提供者が判断した場合、サービス提供者は、ユーザーその他第三者の承諾を得ることなく当該投稿情報の一部または全部を削除することができるものとします。

ul
  li 本規約に違反しているとサービス提供者が判断する場合
  li その他、サービス提供者が削除が妥当と判断した場合

h2 第１０条（保証の制限）

p サービス提供者は、本規約に同意されたユーザーが本サービスにアクセスしてコンテンツを投稿することを許しますが、本サービスの内容や確実な提供、情報のセキュリティなどにつきましては、理由の如何に関わらずそれら一切の保証は行いません。

p 本サービスの正式版または後継版がリリースされる場合であっても、本サービスからのデータ等の移行が完全に問題なくなされることならびにサービス提供者が移行について助言および支援することについて一切の保証を行いません。

p 投稿情報を含むコンテンツについては、データの保存、複製その他、その内容の信頼性、正確性、有用性、完全性などにつきまして、サービス提供者は一切保証いたしません。

h2 第１１条（責任の制限）

p ユーザーが本サービスを利用したこと、または利用しなかったことにより発生したトラブル、紛争、情報漏洩、機会の損失、業務の停止、コンピュータの故障による損害、その他あらゆる商業的損害・損失を含め一切の直接的、間接的、特殊的、付随的または結果的損失、損害について、サービス提供者は一切の責任を負いません。

p サービス提供者からの口頭または書面による、いかなる情報または助言もあらたなる保証を行い、またはその他いかなる意味においても本規約の保証範囲を拡大するものではありません。

h2 第１２条（ユーザーの責任）

p ユーザーは、本サービスをユーザーご自身の責任のもとで利用するものとします。

p 著作権、秘密保持、名誉毀損、その他法令上の義務に従うこと等についてもユーザーご自身の責任において確認をおこなってください。

h2 第１３条（本サービスの中断）

p サービス提供者は以下の事由により、ユーザーに事前に連絡することなく、一時的にサービスの提供を中断することがあります。このサービスの中断による損害について、サービス提供者は一切責任を負わないものとします。

ul
  li サービス提供者によるシステムの保守、点検、修理などを行う場合。
  li 火災・停電によりサービスの提供ができなくなった場合。
  li その他、サービス提供者が中断を必要とした場合。

h2 第１４条（本サービスの変更・終了）

p サービス提供者は、本サービスの内容を、ユーザーへの事前の通知なくして変更することがありますが、ユーザーはそれに同意するものとし、それによって発生する損害（直接であろうと間接であろうと）について、サービス提供者は一切その責任を負いません。その場合、投稿情報を含むコンテンツが削除されることおよび閲覧できなくなること、特定のサービスが利用できなくなること、その他、ユーザーに不利益または損害が発生したとしても、サービス提供者は一切その責を負わないものとします。

p サービス提供者は本サービスを、ユーザーに対する事前告知なく停止または廃止することができます。サービス提供者が本サービスを停止または廃止した場合には、サービス提供者はユーザーに対して一切の損害賠償等の責を負わないものとします。

p 本サービスの終了により、ユーザーにより投稿された投稿情報を削除する場合があります。

h2 第１５条（ご利用の停止・中止）

p サービス提供者は、ユーザーが次の各号のいずれかに該当する場合には、ユーザーへの催告なくして、本サービスの提供を停止することができます。

ul
  li ユーザーが本規約の条項に違反した場合
  li ユーザーが、サービス提供者および第三者に対して損害を与えるおそれがある場合

h2 第１６条（準拠法および裁判管轄）

p 本規約は、法の抵触に関する原則の適用を除いて、日本国の法律を準拠法とします。また、本規約に関して紛争が生じた場合は、訴額に応じて東京簡易裁判所および東京地方裁判所を専属第一審管轄裁判所とします。

p= "#{@release_month} #{@author}"
